.header-container {
    background-color: #057EA8;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.left-section {
    display: flex;
    align-items: center;
    
}

.center-section {
    flex: 4;
    text-align: right;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

.search-bar {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 200px;
}

.button {
    background-color: #0896c5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    margin-left: 10px; 
    cursor: pointer;
}
.button1 {
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    margin-left: 10px; 
    cursor: pointer;
}


/* Footer.module.css */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #057EA8;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 2;
}
.footer-social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  margin-right: 10px;
}


.regandsignuplogo{
    width: 300px;
    height: auto;
    
}

.wrapper-main {
    width: 1000px;
    margin: auto;
    background-color: #057EA8;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.section-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    height: 600px;

  }
  
  .left-section-content {    
    text-align: center;
    background-color: #E6F2F2;
  }
  
  .right-section-form {
   
    width: 100%;
  
  }
  
  .form-container {
    padding: 20px;
    width: auto;
    background-color: #E6F2F2; /* Set background color */
  }
  
  .form-container label {
    display: flex;
    margin: 10px 0;
    
    
  }
  
  .form-container input {
    
    width: calc(70% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #06826b; /* Set input border color */
    border-radius: 5px;
  }
  
  .form-container button {
    background-color: #057EA8; /* Set button background color */
    color: white;
    border: none;

    margin: auto;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .form-image{
    
    width:100%;
    height: auto;
    background-color: #6198ab;

 
    

  }


