/* Header.module.css */
/* header.css */


.header-container {
    background-color: #057EA8;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.left-section {
    display: flex;
    align-items: center;
    
}

.center-section {
    flex: 4;
    text-align: right;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

.search-bar {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 200px;
}

.button {
    background-color: #0896c5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    margin-left: 10px; /* Adjust the spacing between buttons if needed */
    cursor: pointer;
}
.button1 {
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    margin-left: 10px; /* Adjust the spacing between buttons if needed */
    cursor: pointer;
}


/* Footer.module.css */
/* Add this CSS to your stylesheet */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f2f2; /* Set your desired background color */
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  overflow: auto; /* Add this to enable scrolling if content overflows */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content area (adjust the class name as needed) */
.main-content {
  flex: 1; /* This will make the content area grow and push the footer down */
}

/* Footer CSS */
footer {
  background-color: #057EA8;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  /* Rest of your footer styles */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.footer-contact,
.footer-social,
.footer-newsletter {
  flex-basis: calc(33.33% - 20px);
  text-align: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-newsletter {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
  margin-right: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

/* Style for the social media icons (adjust as needed) */
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  margin-bottom: 10px;
}

.footer-social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

/* Style for the subscribe form (adjust as needed) */
.footer-newsletter form {
  display: flex;
}

.footer-newsletter input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-newsletter button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.footer-newsletter button:hover {
  background-color: #0056b3;
}




 

