.job-post-container {
    /* Matching the form background color */
    padding: 10px;
    max-width: auto;

    
}

.form-container h1 {
    text-align: center;
    color: #333; /* Consider changing if needed */
    margin-bottom: 30px;
}

.job-post-form .form-group {
    margin-bottom: 20px;
}

.job-post-form .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #000000; /* Using the theme color for labels */
    font-size: 16px;
}

.job-post-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #06826b; /* Matching input border color */
    border-radius: 5px; /* Consistent with the form's input fields */
    font-size: 14px;
}

.job-post-form .form-control:focus {
    border-color: #057EA8; /* Focus color similar to the theme */
    box-shadow: 0 0 0 2px rgba(5, 126, 168, 0.2);
}

.job-post-form .success-message,
.job-post-form .error-message {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.job-post-form .success-message {
    background-color: #2ecc71; /* Consider matching with your theme */
    color: #fff;
}

.job-post-form .error-message {
    background-color: #d9d2d1; /* Lighter shade for error message */
    color: #333;
}

.job-post-form .action {
    text-align: center;
}

.submit-btn {
    background-color: #057EA8; /* Matching with the form button color */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 2px; /* Consistent with the form's button */
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: #045c6d; /* Darker shade for hover effect */
}

/* Responsive Design */
@media (max-width: 768px) {
    .job-post-container {
        padding: 10px;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
    }
}
