.recovery-form {

  max-width: 400px;
  margin: 50px auto; /* Centralizing the form with a top margin */
  padding: 30px;
  border: none;
  border-radius: 10px; /* Increased border-radius for a modern look */
  background-color: #f7f7f7; /* Lighter background for subtlety */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  font-family: 'Arial', sans-serif; /* Modern, clean font */
}
.recovery-form-container{
  min-height: 100vh;
}
.recovery-form label {
  display: block;
  margin-bottom: 10px;
  color: #333; /* Dark color for contrast */
  font-size: 16px; /* Larger font size */
}
.recovery-form input {
  width: 100%;
  padding: 12px; /* Increased padding for better user experience */
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 5px; /* Slightly rounded borders */
  box-sizing: border-box; /* Ensures padding doesn’t affect the width */
}

.recovery-form button {
  width: 100%;
  padding: 15px; /* More padding for a better button click area */
  background-color: #057EA8; /* Theme color for consistency */
  color: white;
  border: none;
  border-radius: 5px; /* Consistent border-radius */
  cursor: pointer;
  font-size: 16px; /* Matching font size */
  transition: background-color 0.2s ease-in-out;
}

.recovery-form button:hover {
  background-color: #045c6d; /* Slightly darker shade on hover */
}
