
 .signin-wrapper-main {
    width: 1000px;
    margin: auto;
    background-color: #057EA8;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.signin-section-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
 
}
  
  .signin-left-section-content {
    
    
    text-align: center;
   
    background-color: #E6F2F2;
  }
  
  .signin-right-section-form {
   
    width: 100%;
    background-color: #E6F2F2;
  
  }
  
  .signin-form-container {
    
    padding: 20px;
    width: auto;
    height: 600px;
    background-color: #E6F2F2; 
  }
  
  .signin-form-container label {
    display: flex;
    margin: 10px 0;
    
    
  }
  
  .signin-form-container input {
    
    width: calc(70% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #06826b; 
  }
  
  .signin-form-container button {
    background-color: #057EA8; 
    color: white;
    border: none;

    margin: auto;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .signin-form-image{
    
    width:100%;
    height: auto;
    background-color: #6198ab;

 
    

  }
  .signin-already-registered {
    text-align: center;
  }
  
  .signin-already-registered p {
    margin: 0; 
  }
  
  .signin-already-registered a {
    color: #057EA8; 
    text-decoration: none; 
    font-weight: bold;
  }

  .not-registered {
    position: relative;
    top: 100px;

  }
  

  .signin{
    background-color: #057EA8;
    margin: 0;
    padding: 0;
  }